
.test {
  margin-left: 200px;
}

.portfolio-page {
  margin: 100px;
  text-align: center;
}

.profit-loss {
  color: green;
}

.menu-container {
  border-radius: 0;
}
.newsbox {
  height: 290px;
  padding: 5px;
}

.hidden {
  display: none;
}