.test {
  margin-left: 200px;
}

.portfolio-page {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  color: black;
}

.balance {
  color: green;
}

.spent {
  color: red;
}

.menu-container {
  border-radius: 0;
}
.newsbox {
  height: 290px;
  padding: 5px;
}

.hidden {
  display: none;
}

.about-page {
  margin: 100px;

}

.about-header {
  margin-bottom: 500px;
}

.error {
  color: red;
}

.table-holder{
.trade-history {
  display: flex;
  justify-content: center;
  height: 308px;
  overflow-y: auto;
}
}